apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-nextcloud
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/data/delaparra-cloud/nextcloud
  persistentVolumeReclaimPolicy: Retain
